# Feature Enginnering

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, scale
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTENC
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv("Data/data.csv")
df

,REGISTRATION,NAME,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE
0,502375,Márcia Illiglener,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,EXACTS
1,397093,Jason Jytereoman Izoimum,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,EXACTS
2,915288,Bartolomeu Inácio da Gama,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,HUMAN
3,192652,Fernanda Guedes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,DIFFICULTY
4,949491,Alessandre Borba Gomes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,DIFFICULTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,856673,Laércio Mário da Silva,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,EXACTS
19996,576100,Cibele Quésia Poza,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,DIFFICULTY
19997,888739,Marcielle Chale Bape,0,0,0,0,7.9,7.6,8.3,7.2,NaN,8,3,1,EXCELLENT
19998,722743,Suzanne Mirian Mourão,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,DIFFICULTY
19999,417268,Maria Isaiane da Silva Luwequisman,0,0,1,1,7.0,7.3,0.0,0.0,NaN,3,0,6,DIFFICULTY

<font color= "green">First it will remove the variables that are not relevant to the machine learning model.</font> <font color= "blue"> And include numeric variable for target variable to optimize the model.

In [3]:
df2 = df
df2["PROFILE_N"] = df2.PROFILE.map({"EXCELLENT": 5,
                   "VERY_GOOD": 4,
                   "HUMAN": 3,
                   "EXACTS": 2,
                   "DIFFICULTY": 1})
df2

,REGISTRATION,NAME,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE,PROFILE_N
0,502375,Márcia Illiglener,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,EXACTS,2
1,397093,Jason Jytereoman Izoimum,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,EXACTS,2
2,915288,Bartolomeu Inácio da Gama,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,HUMAN,3
3,192652,Fernanda Guedes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,DIFFICULTY,1
4,949491,Alessandre Borba Gomes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,DIFFICULTY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,856673,Laércio Mário da Silva,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,EXACTS,2
19996,576100,Cibele Quésia Poza,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,DIFFICULTY,1
19997,888739,Marcielle Chale Bape,0,0,0,0,7.9,7.6,8.3,7.2,NaN,8,3,1,EXCELLENT,5
19998,722743,Suzanne Mirian Mourão,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,DIFFICULTY,1
19999,417268,Maria Isaiane da Silva Luwequisman,0,0,1,1,7.0,7.3,0.0,0.0,NaN,3,0,6,DIFFICULTY,1

In [4]:
columns= ["DISAPPROVALS_BL","DISAPPROVALS_EN","DISAPPROVALS_FM","DISAPPROVALS_OM","NOTE_BL","NOTE_EN","NOTE_FM",
          "NOTE_OM","ENGLISH","H_CLASS_PRES","ONLINE_TASKS","ABSENCES","PROFILE_N"]
df2 = df2[columns]

In [5]:
df2

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE_N
0,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,2
1,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,2
2,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,3
3,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,1
4,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,2
19996,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,1
19997,0,0,0,0,7.9,7.6,8.3,7.2,NaN,8,3,1,5
19998,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,1
19999,0,0,1,1,7.0,7.3,0.0,0.0,NaN,3,0,6,1

treating missing values

In [6]:
# Instantiating imputation algorithm
imputation = SimpleImputer(missing_values= np.nan, strategy="median")

In [7]:
# imputing missing values
df2 = pd.DataFrame(imputation.fit_transform(df2), columns= columns)

In [8]:
df2

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE_N
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,2.0
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,2.0
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,3.0
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,1.0
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.0,0.0,0.0,0.0,7.0,7.9,5.8,7.0,1.0,9.0,5.0,6.0,2.0
19996,1.0,1.0,1.0,1.0,0.0,0.0,0.0,5.4,1.0,3.0,2.0,5.0,1.0
19997,0.0,0.0,0.0,0.0,7.9,7.6,8.3,7.2,1.0,8.0,3.0,1.0,5.0
19998,0.0,0.0,1.0,1.0,6.3,5.1,0.0,0.0,1.0,3.0,2.0,6.0,1.0
19999,0.0,0.0,1.0,1.0,7.0,7.3,0.0,0.0,1.0,3.0,0.0,6.0,1.0

In [9]:
df2.isnull().sum()

DISAPPROVALS_BL    0
DISAPPROVALS_EN    0
DISAPPROVALS_FM    0
DISAPPROVALS_OM    0
NOTE_BL            0
NOTE_EN            0
NOTE_FM            0
NOTE_OM            0
ENGLISH            0
H_CLASS_PRES       0
ONLINE_TASKS       0
ABSENCES           0
PROFILE_N          0
dtype: int64

In [10]:
df2.duplicated().sum()

1395

In [11]:
df2.drop_duplicates(inplace= True)

In [12]:
df2.duplicated().sum()

0

Generating new variables

In [13]:
bins = [-1, 2, 4, 6, 8, 10]
var = ["NOTE_BL", "NOTE_EN", "NOTE_FM", "NOTE_OM"]

In [14]:
a = 0
for i in var:
    df2[a] = pd.cut(df2[i], bins= bins)
    a+=1
df2.rename(columns={0:"NOTE_BL_CAT", 1:"NOTE_EN_CAT", 2:"NOTE_FM_CAT", 3:"NOTE_OM_CAT"}, inplace=True)

In [15]:
df2.head()

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE_N,NOTE_BL_CAT,NOTE_EN_CAT,NOTE_FM_CAT,NOTE_OM_CAT
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,2.0,"(6, 8]","(4, 6]","(4, 6]","(4, 6]"
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,2.0,"(4, 6]","(6, 8]","(4, 6]","(4, 6]"
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,3.0,"(6, 8]","(6, 8]","(6, 8]","(6, 8]"
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,1.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]"
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,1.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]"

In [16]:
df2.shape

(18605, 17)

In [17]:
df2.dtypes

DISAPPROVALS_BL     float64
DISAPPROVALS_EN     float64
DISAPPROVALS_FM     float64
DISAPPROVALS_OM     float64
NOTE_BL             float64
NOTE_EN             float64
NOTE_FM             float64
NOTE_OM             float64
ENGLISH             float64
H_CLASS_PRES        float64
ONLINE_TASKS        float64
ABSENCES            float64
PROFILE_N           float64
NOTE_BL_CAT        category
NOTE_EN_CAT        category
NOTE_FM_CAT        category
NOTE_OM_CAT        category
dtype: object

In [18]:
df2.isna().sum()

DISAPPROVALS_BL     0
DISAPPROVALS_EN     0
DISAPPROVALS_FM     0
DISAPPROVALS_OM     0
NOTE_BL             0
NOTE_EN             0
NOTE_FM             0
NOTE_OM             0
ENGLISH             0
H_CLASS_PRES        0
ONLINE_TASKS        0
ABSENCES            0
PROFILE_N           0
NOTE_BL_CAT         0
NOTE_EN_CAT         0
NOTE_FM_CAT        60
NOTE_OM_CAT         0
dtype: int64

In [19]:
df2.dropna(inplace=True)

In [20]:
df2.duplicated().sum()

0

In [21]:
df2 = df2.reindex(columns= ["DISAPPROVALS_BL","DISAPPROVALS_EN","DISAPPROVALS_FM","DISAPPROVALS_OM","NOTE_BL",
                            "NOTE_EN","NOTE_FM","NOTE_OM","ENGLISH","H_CLASS_PRES","ONLINE_TASKS","ABSENCES",
                            "NOTE_BL_CAT", "NOTE_EN_CAT", "NOTE_FM_CAT", "NOTE_OM_CAT","PROFILE_N"])
df2

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,NOTE_BL_CAT,NOTE_EN_CAT,NOTE_FM_CAT,NOTE_OM_CAT,PROFILE_N
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,"(6, 8]","(4, 6]","(4, 6]","(4, 6]",2.0
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,"(4, 6]","(6, 8]","(4, 6]","(4, 6]",2.0
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,"(6, 8]","(6, 8]","(6, 8]","(6, 8]",3.0
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,20.0,4.0,4.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
19995,0.0,0.0,0.0,0.0,7.0,7.9,5.8,7.0,1.0,9.0,5.0,6.0,"(6, 8]","(6, 8]","(4, 6]","(6, 8]",2.0
19997,0.0,0.0,0.0,0.0,7.9,7.6,8.3,7.2,1.0,8.0,3.0,1.0,"(6, 8]","(6, 8]","(8, 10]","(6, 8]",5.0
19998,0.0,0.0,1.0,1.0,6.3,5.1,0.0,0.0,1.0,3.0,2.0,6.0,"(6, 8]","(4, 6]","(-1, 2]","(-1, 2]",1.0
19999,0.0,0.0,1.0,1.0,7.0,7.3,0.0,0.0,1.0,3.0,0.0,6.0,"(6, 8]","(6, 8]","(-1, 2]","(-1, 2]",1.0

In [22]:
df2.shape

(18545, 17)

In [47]:
# Saving dataframe
df2.to_csv("Data/data2.csv", index= False)

<font color="red">Generating training and testing data</font>

In [23]:
X = df2.iloc[:, 0:16]
Y = df2.PROFILE_N
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= .20, random_state= 102)

In [24]:
x_train.dtypes

DISAPPROVALS_BL     float64
DISAPPROVALS_EN     float64
DISAPPROVALS_FM     float64
DISAPPROVALS_OM     float64
NOTE_BL             float64
NOTE_EN             float64
NOTE_FM             float64
NOTE_OM             float64
ENGLISH             float64
H_CLASS_PRES        float64
ONLINE_TASKS        float64
ABSENCES            float64
NOTE_BL_CAT        category
NOTE_EN_CAT        category
NOTE_FM_CAT        category
NOTE_OM_CAT        category
dtype: object

In [25]:
x_train.shape

(14836, 16)

<font color="green">Training data balancing</font>

In [28]:
# Instantisting balancing algorithm
balanced = SMOTENC(categorical_features=[12,13,14,15] ,random_state= 42)

In [29]:
x_train.dropna(inplace=True)
x_train, y_train = balanced.fit_resample(x_train, y_train)

/home/hsdaniel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
x_train.shape

(33085, 16)

In [31]:
y_train.shape

(33085,)

In [50]:
# Saving Training and testing dataframe
x_train.to_csv("Data/x_train.csv", index= False)
x_test.to_csv("Data/x_test.csv", index= False)
y_train.to_csv("Data/y_train.csv", index= False)
y_test.to_csv("Data/y_test.csv", index= False)

<font color="green">Standardizing data</font>

In [34]:
column = ["DISAPPROVALS_BL","DISAPPROVALS_EN","DISAPPROVALS_FM","DISAPPROVALS_OM","NOTE_BL",
          "NOTE_EN","NOTE_FM","NOTE_OM","ENGLISH","H_CLASS_PRES","ONLINE_TASKS","ABSENCES"]

In [72]:
x_train_pca= x_train.iloc[:, 0:12]

In [44]:
scale= StandardScaler()
x_train_norm = pd.DataFrame(scale.fit_transform(x_train_norm), columns= column)
x_train_norm

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES
0,-0.250308,-0.250198,-0.293156,-0.293808,-0.212294,-0.877855,-0.551592,-0.135847,0.800015,-0.557012,-0.886794,1.512318
1,-0.250308,-0.250198,-0.293156,-0.293808,-0.313401,-0.251804,-0.631016,-0.292352,0.800015,-1.117204,-0.886794,1.512318
2,1.917495,1.927500,-0.293156,-0.293808,-3.144408,-2.996797,-0.273605,-0.448858,0.800015,-0.930473,1.180295,1.512318
3,1.917495,1.927500,1.631678,1.701063,-3.144408,-2.996797,-2.497497,-2.952943,-1.385902,-1.117204,-1.920339,-0.330399
4,-0.250308,-0.250198,-0.293156,-0.293808,0.444904,0.470562,0.004381,0.698848,-1.385902,-0.743743,1.180295,-0.330399
...,...,...,...,...,...,...,...,...,...,...,...,...
33080,-0.250308,-0.250198,-0.293156,-0.293808,0.784377,0.655919,-0.341944,0.714010,0.177260,-0.503813,1.180295,-0.330399
33081,-0.250308,-0.250198,-0.293156,-0.293808,0.863443,1.192929,1.276570,-0.135847,-0.597996,1.377602,1.180295,-0.944638
33082,-0.250308,-0.250198,-0.293156,-0.293808,0.494578,0.423242,0.878399,0.491536,-1.385902,1.683757,0.663522,-0.536926
33083,-0.250308,-0.250198,-0.293156,-0.293808,0.882537,0.907402,1.056171,1.236893,0.800015,-0.292937,-0.672747,-0.944638
33084,-0.250308,-0.250198,-0.293156,-0.293808,0.980722,1.044164,1.297195,-0.135847,-1.288505,0.555052,1.180295,-0.944638

In [45]:
cat_train = x_train.iloc[:, 12:17]
x_train_norm = pd.concat([x_train_norm, cancat], axis= 1)

In [60]:
x_train_norm

DISAPPROVALS_BL    0
DISAPPROVALS_EN    0
DISAPPROVALS_FM    0
DISAPPROVALS_OM    0
NOTE_BL            0
NOTE_EN            0
NOTE_FM            0
NOTE_OM            0
ENGLISH            0
H_CLASS_PRES       0
ONLINE_TASKS       0
ABSENCES           0
NOTE_BL_CAT        0
NOTE_EN_CAT        0
NOTE_FM_CAT        0
NOTE_OM_CAT        0
dtype: int64

In [67]:
x_test_norm= x_test.iloc[:, 0:12]
index = x_test_norm.index
cat_test= x_test.iloc[:, 12:17]
x_test_norm= pd.DataFrame(scale.fit_transform(x_test_norm), columns= column, index= index)
x_test_norm= pd.concat([x_test_norm, cat_test], axis= 1, ignore_index= True)
x_test_norm

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
10366,-0.315020,-0.314566,-0.368169,-0.367348,0.054994,0.287262,-0.154850,-0.055713,0.664039,-0.531699,-0.630239,-0.622088,"(4, 6]","(6, 8]","(4, 6]","(4, 6]"
9399,-0.315020,-0.314566,-0.368169,-0.367348,0.652072,0.377958,0.813203,-0.055713,-1.505935,1.394859,0.447721,-1.219686,"(6, 8]","(6, 8]","(6, 8]","(4, 6]"
13467,-0.315020,-0.314566,-0.368169,-0.367348,1.065434,1.148875,1.256893,0.190932,0.664039,0.431580,0.986701,-0.622088,"(6, 8]","(6, 8]","(8, 10]","(4, 6]"
16388,-0.315020,-0.314566,-0.368169,-0.367348,0.376497,0.287262,-0.154850,0.388248,0.664039,-0.772519,-0.630239,-0.024490,"(6, 8]","(6, 8]","(4, 6]","(4, 6]"
486,-0.315020,-0.314566,-0.368169,-0.367348,0.514285,0.514002,0.329176,0.190932,0.664039,-0.772519,-0.091259,-0.622088,"(6, 8]","(6, 8]","(4, 6]","(4, 6]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8223,-0.315020,-0.314566,-0.368169,-0.367348,-0.082794,-0.256915,0.329176,0.684222,0.664039,-0.290880,0.986701,-0.622088,"(4, 6]","(4, 6]","(4, 6]","(6, 8]"
7111,-0.315020,-0.314566,-0.368169,-0.367348,-0.358369,0.105869,0.248505,-0.203700,0.664039,-0.290880,0.986701,-1.219686,"(4, 6]","(4, 6]","(4, 6]","(4, 6]"
5042,-0.315020,-0.314566,-0.368169,-0.367348,0.606143,-0.030175,1.055216,0.190932,0.664039,2.358138,-1.708199,-0.622088,"(6, 8]","(4, 6]","(6, 8]","(4, 6]"
16333,-0.315020,-0.314566,-0.368169,-0.367348,0.789860,0.650046,1.135887,0.782880,0.664039,1.154039,1.525681,-0.622088,"(6, 8]","(6, 8]","(6, 8]","(6, 8]"
7436,1.569511,1.531521,1.277060,1.177431,-2.562966,-2.478972,-2.090954,-2.472832,0.664039,-0.531699,-1.708199,1.768303,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]"

In [68]:
# Saving standardized training dataframe
x_train_norm.to_csv("Data/x_train_norm.csv", index= False)
x_test_norm.to_csv("Data/x_test_norm.csv", index= False)

<font color= "green">Applying dimensionality reduction to the data</font>

In [12]:
x_train_pca= x_train.iloc[:, 0:12]
index = x_train_pca.index

In [10]:
pca = PCA(n_components= 4)

In [31]:
x_train_pca = pd.DataFrame(pca.fit_transform(x_train_pca))

In [32]:
x_train_pca

               0         1         2         3
0      -4.161640  0.520574  1.820455  1.061316
1      -6.672829 -1.033885  1.223864  1.004243
2      -7.041812  4.101827 -2.638783  2.797197
3     -10.876581  8.545215  0.087858 -2.923948
4      -2.372388 -3.099363 -2.838716  0.688048
...          ...       ...       ...       ...
33080  -1.288108 -2.572233 -2.520107  0.771697
33081   8.749599 -0.305388 -0.664386  0.181200
33082   9.399048  1.489220  0.693117  0.232366
33083   0.409211 -4.571494  0.454703 -1.949010
33084   4.887028 -2.179455 -1.614023  0.040503

[33085 rows x 4 columns]

In [33]:
x_test_pca= x_test.iloc[:, 0:12]
x_test_pca = pd.DataFrame(pca.fit_transform(x_test_pca))
x_test_pca

             0         1         2         3
0    -1.424712 -1.719754 -0.146078 -0.147355
1     5.976779  2.606213 -0.342432 -0.213322
2     4.694202 -1.633307 -1.281946 -0.966402
3    -1.763423 -2.986335  0.257846 -0.101601
4    -0.830380 -3.461859 -1.038374 -0.231919
...        ...       ...       ...       ...
3704  0.141742 -1.141870 -2.270720  1.365382
3705 -0.240542 -0.547636 -2.884125  0.320889
3706  7.964485  4.953512  4.256156  1.176189
3707  6.566960  0.889452 -1.445856  0.181940
3708 -9.879860  5.647279  2.846887  0.251763

[3709 rows x 4 columns]

In [34]:
x_train_pca.shape

(33085, 4)

In [35]:
x_test_pca.shape

(3709, 4)

In [36]:
x_train_pca.to_csv("Data/x_train_pca.csv", index= False)
x_test_pca.to_csv("Data/x_test_pca.csv", index= False)