# Feature Enginnering

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, scale
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTENC, SMOTE
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv("Data/data.csv")
df

,REGISTRATION,NAME,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE
0,502375,Márcia Illiglener,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,EXACTS
1,397093,Jason Jytereoman Izoimum,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,EXACTS
2,915288,Bartolomeu Inácio da Gama,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,HUMAN
3,192652,Fernanda Guedes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,DIFFICULTY
4,949491,Alessandre Borba Gomes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,DIFFICULTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,856673,Laércio Mário da Silva,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,EXACTS
19996,576100,Cibele Quésia Poza,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,DIFFICULTY
19997,888739,Marcielle Chale Bape,0,0,0,0,7.9,7.6,8.3,7.2,NaN,8,3,1,EXCELLENT
19998,722743,Suzanne Mirian Mourão,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,DIFFICULTY
19999,417268,Maria Isaiane da Silva Luwequisman,0,0,1,1,7.0,7.3,0.0,0.0,NaN,3,0,6,DIFFICULTY

<font color= "green">First it will remove the variables that are not relevant to the machine learning model.</font> <font color= "blue"> And include numeric variable for target variable to optimize the model.

In [3]:
df2 = df
df2["PROFILE_N"] = df2.PROFILE.map({"EXCELLENT": 5,
                   "VERY_GOOD": 4,
                   "HUMAN": 3,
                   "EXACTS": 2,
                   "DIFFICULTY": 1})
df2

,REGISTRATION,NAME,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE,PROFILE_N
0,502375,Márcia Illiglener,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,EXACTS,2
1,397093,Jason Jytereoman Izoimum,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,EXACTS,2
2,915288,Bartolomeu Inácio da Gama,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,HUMAN,3
3,192652,Fernanda Guedes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,DIFFICULTY,1
4,949491,Alessandre Borba Gomes,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,DIFFICULTY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,856673,Laércio Mário da Silva,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,EXACTS,2
19996,576100,Cibele Quésia Poza,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,DIFFICULTY,1
19997,888739,Marcielle Chale Bape,0,0,0,0,7.9,7.6,8.3,7.2,NaN,8,3,1,EXCELLENT,5
19998,722743,Suzanne Mirian Mourão,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,DIFFICULTY,1
19999,417268,Maria Isaiane da Silva Luwequisman,0,0,1,1,7.0,7.3,0.0,0.0,NaN,3,0,6,DIFFICULTY,1

In [4]:
columns= ["DISAPPROVALS_BL","DISAPPROVALS_EN","DISAPPROVALS_FM","DISAPPROVALS_OM","NOTE_BL","NOTE_EN","NOTE_FM",
          "NOTE_OM","ENGLISH","H_CLASS_PRES","ONLINE_TASKS","ABSENCES","PROFILE_N"]
df2 = df2[columns]

In [5]:
df2

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE_N
0,0,0,0,0,6.2,5.8,4.6,5.9,0.0,2,4,3,2
1,0,0,0,0,6.0,6.2,5.2,4.5,1.0,2,4,3,2
2,0,0,0,0,7.3,6.7,7.1,7.2,0.0,5,0,3,3
3,1,3,1,1,0.0,0.0,0.0,0.0,1.0,4,4,4,1
4,1,3,1,1,0.0,0.0,0.0,0.0,1.0,5,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,7.0,7.9,5.8,7.0,1.0,9,5,6,2
19996,1,1,1,1,0.0,0.0,0.0,NaN,1.0,3,2,5,1
19997,0,0,0,0,7.9,7.6,8.3,7.2,NaN,8,3,1,5
19998,0,0,1,1,6.3,5.1,0.0,0.0,1.0,3,2,6,1
19999,0,0,1,1,7.0,7.3,0.0,0.0,NaN,3,0,6,1

treating missing values

In [6]:
# Instantiating imputation algorithm
imputation = SimpleImputer(missing_values= np.nan, strategy="median")

In [7]:
# imputing missing values
df2 = pd.DataFrame(imputation.fit_transform(df2), columns= columns)

In [8]:
df2

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE_N
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,2.0
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,2.0
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,3.0
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,1.0
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.0,0.0,0.0,0.0,7.0,7.9,5.8,7.0,1.0,9.0,5.0,6.0,2.0
19996,1.0,1.0,1.0,1.0,0.0,0.0,0.0,5.4,1.0,3.0,2.0,5.0,1.0
19997,0.0,0.0,0.0,0.0,7.9,7.6,8.3,7.2,1.0,8.0,3.0,1.0,5.0
19998,0.0,0.0,1.0,1.0,6.3,5.1,0.0,0.0,1.0,3.0,2.0,6.0,1.0
19999,0.0,0.0,1.0,1.0,7.0,7.3,0.0,0.0,1.0,3.0,0.0,6.0,1.0

In [9]:
df2.isnull().sum()

DISAPPROVALS_BL    0
DISAPPROVALS_EN    0
DISAPPROVALS_FM    0
DISAPPROVALS_OM    0
NOTE_BL            0
NOTE_EN            0
NOTE_FM            0
NOTE_OM            0
ENGLISH            0
H_CLASS_PRES       0
ONLINE_TASKS       0
ABSENCES           0
PROFILE_N          0
dtype: int64

In [10]:
df2.duplicated().sum()

1395

In [11]:
df2.drop_duplicates(inplace= True)

In [12]:
df2.duplicated().sum()

0

Generating new variables

In [13]:
bins = [-1, 2, 4, 6, 8, 10]
var = ["NOTE_BL", "NOTE_EN", "NOTE_FM", "NOTE_OM"]

In [14]:
a = 0
for i in var:
    df2[a] = pd.cut(df2[i], bins= bins)
    a+=1
df2.rename(columns={0:"NOTE_BL_CAT", 1:"NOTE_EN_CAT", 2:"NOTE_FM_CAT", 3:"NOTE_OM_CAT"}, inplace=True)

In [15]:
df2.head()

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,PROFILE_N,NOTE_BL_CAT,NOTE_EN_CAT,NOTE_FM_CAT,NOTE_OM_CAT
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,2.0,"(6, 8]","(4, 6]","(4, 6]","(4, 6]"
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,2.0,"(4, 6]","(6, 8]","(4, 6]","(4, 6]"
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,3.0,"(6, 8]","(6, 8]","(6, 8]","(6, 8]"
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,1.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]"
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,1.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]"

In [16]:
df2.shape

(18605, 17)

In [17]:
df2.dtypes

DISAPPROVALS_BL     float64
DISAPPROVALS_EN     float64
DISAPPROVALS_FM     float64
DISAPPROVALS_OM     float64
NOTE_BL             float64
NOTE_EN             float64
NOTE_FM             float64
NOTE_OM             float64
ENGLISH             float64
H_CLASS_PRES        float64
ONLINE_TASKS        float64
ABSENCES            float64
PROFILE_N           float64
NOTE_BL_CAT        category
NOTE_EN_CAT        category
NOTE_FM_CAT        category
NOTE_OM_CAT        category
dtype: object

In [18]:
df2.isna().sum()

DISAPPROVALS_BL     0
DISAPPROVALS_EN     0
DISAPPROVALS_FM     0
DISAPPROVALS_OM     0
NOTE_BL             0
NOTE_EN             0
NOTE_FM             0
NOTE_OM             0
ENGLISH             0
H_CLASS_PRES        0
ONLINE_TASKS        0
ABSENCES            0
PROFILE_N           0
NOTE_BL_CAT         0
NOTE_EN_CAT         0
NOTE_FM_CAT        60
NOTE_OM_CAT         0
dtype: int64

In [19]:
df2.dropna(inplace=True)

In [20]:
df2.duplicated().sum()

0

In [21]:
df2 = df2.reindex(columns= ["DISAPPROVALS_BL","DISAPPROVALS_EN","DISAPPROVALS_FM","DISAPPROVALS_OM","NOTE_BL",
                            "NOTE_EN","NOTE_FM","NOTE_OM","ENGLISH","H_CLASS_PRES","ONLINE_TASKS","ABSENCES",
                            "NOTE_BL_CAT", "NOTE_EN_CAT", "NOTE_FM_CAT", "NOTE_OM_CAT","PROFILE_N"])
df2

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,NOTE_BL_CAT,NOTE_EN_CAT,NOTE_FM_CAT,NOTE_OM_CAT,PROFILE_N
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,"(6, 8]","(4, 6]","(4, 6]","(4, 6]",2.0
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,"(4, 6]","(6, 8]","(4, 6]","(4, 6]",2.0
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,"(6, 8]","(6, 8]","(6, 8]","(6, 8]",3.0
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,20.0,4.0,4.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
19995,0.0,0.0,0.0,0.0,7.0,7.9,5.8,7.0,1.0,9.0,5.0,6.0,"(6, 8]","(6, 8]","(4, 6]","(6, 8]",2.0
19997,0.0,0.0,0.0,0.0,7.9,7.6,8.3,7.2,1.0,8.0,3.0,1.0,"(6, 8]","(6, 8]","(8, 10]","(6, 8]",5.0
19998,0.0,0.0,1.0,1.0,6.3,5.1,0.0,0.0,1.0,3.0,2.0,6.0,"(6, 8]","(4, 6]","(-1, 2]","(-1, 2]",1.0
19999,0.0,0.0,1.0,1.0,7.0,7.3,0.0,0.0,1.0,3.0,0.0,6.0,"(6, 8]","(6, 8]","(-1, 2]","(-1, 2]",1.0

In [22]:
df2.shape

(18545, 17)

In [23]:
# Saving dataframe
df2.to_csv("Data/data2.csv", index= False)

<font color="red">Generating training and testing data</font>

In [24]:
X = df2.iloc[:, 0:16]
Y = df2.PROFILE_N
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= .20, random_state= 102)

In [ ]:
x_train.dtypes

In [ ]:
x_train.shape

<font color="green">Training data balancing</font>

In [ ]:
# Instantisting balancing algorithm
balanced = SMOTENC(categorical_features=[12,13,14,15] ,random_state= 42)

In [ ]:
x_train.dropna(inplace=True)
x_train, y_train = balanced.fit_resample(x_train, y_train)

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
# Saving Training and testing dataframe
x_train.to_csv("Data/x_train.csv", index= False)
x_test.to_csv("Data/x_test.csv", index= False)
y_train.to_csv("Data/y_train.csv", index= False)
y_test.to_csv("Data/y_test.csv", index= False)

<font color="green">Standardizing data</font>

In [ ]:
column = ["DISAPPROVALS_BL","DISAPPROVALS_EN","DISAPPROVALS_FM","DISAPPROVALS_OM","NOTE_BL",
          "NOTE_EN","NOTE_FM","NOTE_OM","ENGLISH","H_CLASS_PRES","ONLINE_TASKS","ABSENCES"]

In [ ]:
x_train_norm= x_train.iloc[:, 0:12]

In [ ]:
scale= StandardScaler()
x_train_norm = pd.DataFrame(scale.fit_transform(x_train_norm), columns= column)
x_train_norm

In [ ]:
x_test_norm= x_test.iloc[:, 0:12]
x_test_norm= pd.DataFrame(scale.transform(x_test_norm), columns= column)
x_test_norm

In [ ]:
# Saving standardized training dataframe
x_train_norm.to_csv("Data/x_train_norm.csv", index= False)
x_test_norm.to_csv("Data/x_test_norm.csv", index= False)

<font color= "green">Applying dimensionality reduction to the data</font>

In [25]:
df3= df2.reset_index().drop(["index"], axis=1)
df3

,DISAPPROVALS_BL,DISAPPROVALS_EN,DISAPPROVALS_FM,DISAPPROVALS_OM,NOTE_BL,NOTE_EN,NOTE_FM,NOTE_OM,ENGLISH,H_CLASS_PRES,ONLINE_TASKS,ABSENCES,NOTE_BL_CAT,NOTE_EN_CAT,NOTE_FM_CAT,NOTE_OM_CAT,PROFILE_N
0,0.0,0.0,0.0,0.0,6.2,5.8,4.6,5.9,0.0,2.0,4.0,3.0,"(6, 8]","(4, 6]","(4, 6]","(4, 6]",2.0
1,0.0,0.0,0.0,0.0,6.0,6.2,5.2,4.5,1.0,2.0,4.0,3.0,"(4, 6]","(6, 8]","(4, 6]","(4, 6]",2.0
2,0.0,0.0,0.0,0.0,7.3,6.7,7.1,7.2,0.0,5.0,0.0,3.0,"(6, 8]","(6, 8]","(6, 8]","(6, 8]",3.0
3,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,4.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
4,1.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,2.0,5.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18540,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,20.0,4.0,4.0,"(-1, 2]","(-1, 2]","(-1, 2]","(-1, 2]",1.0
18541,0.0,0.0,0.0,0.0,7.0,7.9,5.8,7.0,1.0,9.0,5.0,6.0,"(6, 8]","(6, 8]","(4, 6]","(6, 8]",2.0
18542,0.0,0.0,0.0,0.0,7.9,7.6,8.3,7.2,1.0,8.0,3.0,1.0,"(6, 8]","(6, 8]","(8, 10]","(6, 8]",5.0
18543,0.0,0.0,1.0,1.0,6.3,5.1,0.0,0.0,1.0,3.0,2.0,6.0,"(6, 8]","(4, 6]","(-1, 2]","(-1, 2]",1.0
18544,0.0,0.0,1.0,1.0,7.0,7.3,0.0,0.0,1.0,3.0,0.0,6.0,"(6, 8]","(6, 8]","(-1, 2]","(-1, 2]",1.0

In [26]:
data_pca= df3.iloc[:, 0:12]
target= df3.PROFILE_N

In [27]:
pca= PCA(n_components= 4)

In [28]:
data_pca = pd.DataFrame(pca.fit_transform(data_pca))

In [29]:
data_pca

              0          1         2         3
0     -1.575681  -2.435701 -1.940061  0.124467
1     -1.678786  -2.319087 -1.942589  0.787853
2      1.835935  -2.920650  2.098848 -0.757466
3     -7.857390   7.418531 -1.736708 -0.448283
4     -7.630789   7.843443  0.637897 -0.460358
...         ...        ...       ...       ...
18540  3.696218  17.740641  2.126053  0.029931
18541  4.813202   0.142955  0.850319  0.534369
18542  5.707730  -1.606893 -0.563638 -0.451675
18543 -5.362703   1.894966  1.212559  5.355547
18544 -4.771518   0.661331  2.887211  6.695489

[18545 rows x 4 columns]

In [30]:
data_pca["PROFILE_N"]= target
data_pca

              0          1         2         3  PROFILE_N
0     -1.575681  -2.435701 -1.940061  0.124467        2.0
1     -1.678786  -2.319087 -1.942589  0.787853        2.0
2      1.835935  -2.920650  2.098848 -0.757466        3.0
3     -7.857390   7.418531 -1.736708 -0.448283        1.0
4     -7.630789   7.843443  0.637897 -0.460358        1.0
...         ...        ...       ...       ...        ...
18540  3.696218  17.740641  2.126053  0.029931        1.0
18541  4.813202   0.142955  0.850319  0.534369        2.0
18542  5.707730  -1.606893 -0.563638 -0.451675        5.0
18543 -5.362703   1.894966  1.212559  5.355547        1.0
18544 -4.771518   0.661331  2.887211  6.695489        1.0

[18545 rows x 5 columns]

In [31]:
data_pca.to_csv("Data/data_pca.csv", index= False)

In [32]:
xtest_pca = data_pca.sample(frac= 0.2)
index= xtest_pca.index
xtest_pca

               0         1         2         3  PROFILE_N
16658  -1.388728 -1.965118  0.436214 -0.104563        1.0
9311    0.375220 -4.352072 -2.525721  0.259981        4.0
11607   1.984599  1.056485  2.784133  0.639217        2.0
10110  10.009216  4.140566 -0.213733 -0.559644        3.0
10575   0.425236 -2.037004 -0.592006  0.387378        2.0
...          ...       ...       ...       ...        ...
9739    2.563085 -2.347213 -1.841070 -1.330054        3.0
12209  -0.479269 -1.592704  1.132477  0.184089        2.0
2940   11.076587  3.654155 -2.052433 -0.324103        4.0
13444   1.777712 -3.647713 -0.128878  0.042614        3.0
2000    5.630604 -0.029273 -0.843198  1.328439        4.0

[3709 rows x 5 columns]

In [33]:
xtrain_pca = data_pca.drop(index)
xtrain_pca

              0          1         2         3  PROFILE_N
0     -1.575681  -2.435701 -1.940061  0.124467        2.0
2      1.835935  -2.920650  2.098848 -0.757466        3.0
3     -7.857390   7.418531 -1.736708 -0.448283        1.0
4     -7.630789   7.843443  0.637897 -0.460358        1.0
5      2.249076  -3.057006  0.920320 -0.142734        3.0
...         ...        ...       ...       ...        ...
18540  3.696218  17.740641  2.126053  0.029931        1.0
18541  4.813202   0.142955  0.850319  0.534369        2.0
18542  5.707730  -1.606893 -0.563638 -0.451675        5.0
18543 -5.362703   1.894966  1.212559  5.355547        1.0
18544 -4.771518   0.661331  2.887211  6.695489        1.0

[14836 rows x 5 columns]

In [41]:
xtrain_pca["PROFILE_N"].value_counts()

5.0    6543
4.0    6543
1.0    6543
3.0    6543
2.0    6543
Name: PROFILE_N, dtype: int64

In [42]:
xtest_pca.PROFILE_N.value_counts()

2.0    1686
1.0    1110
3.0     622
4.0     175
5.0     116
Name: PROFILE_N, dtype: int64

In [36]:
x = xtrain_pca.iloc[:, 0:4]
y = xtrain_pca.PROFILE_N

In [37]:
smote = SMOTE(random_state=42)

In [38]:
x, y= smote.fit_resample(x, y)

In [39]:
xtrain_pca= x
xtrain_pca["PROFILE_N"]= y

In [43]:
xtrain_pca.to_csv("Data/xtrain_pca.csv", index= False)
xtest_pca.to_csv("Data/xtest_pca.csv", index= False)